{
  "presets": [
    [
      "@babel/env",
        {
          "targets": {
            "node": "current"
          }
        },
      "@babel/preset-react"
    ]
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}