@import './normalize.scss';

$primary-contrast-text: #fff;
$secondary-contrast-text: #222;
$max-form-width: 600px;

body {
  .appBar {
    color: $secondary-contrast-text;
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .toolbarHomeLink {
    text-decoration: none;
    color: $primary-contrast-text;
  }
  
  .appBarButton {
    color: $primary-contrast-text;
    border-color: currentColor;
    margin-left: 5px;
  }

  .paperForm {
    width: 100%;
    margin: 30px auto;
    padding: 15px 20px;
    max-width: $max-form-width;
  }

  .forgotPassword {
    margin: 15px 0;
  }
}